* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	background-color: #000;
	color: #fff;
}
.highlight {
	background-color: #00c2ff;
	color: #fff;
  font-weight: bold;
	padding: 1rem;
}
.container {
	height: 100vh;

	header {
		width: 100%;
		max-width: 1000px;
		height: 60px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				font-size: 1.5rem;
        font-weight: bold;
				margin-left: 0.5rem;
			}
		}
		nav {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;

				li {
					a {
						display: inline-block;
						text-align: center;
						color: #fff;
						font-weight: bold;
						padding: 1rem;

						&:hover {
							color: #c1f0ff;
						}
					}
				}
			}
		}
	}
	.content {
		background: url("../img/car-bg.jpg") center/cover no-repeat;
		height: calc(100vh - 120px);
    display: flex;
    align-items: center;

		.content-container {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;

      h1{
        color: #00c2ff;
        font-size: 4rem;
      }
      h3{
        font-size: 1.5rem;
        margin-bottom: 8rem;
      }
      a{
        font-size: 1.5rem;
      }
		}
	}
	footer {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;

		ul {
			height: 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			li {
				strong {
					color: #00c2ff;
				}
			}
		}
	}
}
